.features-cnt {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:50px; */
  width: 80%; 
  margin: 0 auto;
  padding: 50px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

.features-left {
  flex: 1; /* Allow flex to handle width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-left .model-pic {
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
}

.model-pic img {
  width: 100%;
  /* max-width: 450px; */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.features-right {
  flex: 1; /* Allow flex to handle width */
  /* padding:20px; */
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
 /* border-radius:  30% 70% 70% 30% / 30% 30% 70% 70% ; */
  /* display: flex; */
  /* align-items: center; */
  /* background-color: blue; */
  /* justify-content: center; */
}

.features-text{
  display: inline-block;
  justify-content: center;
  align-items: center;
 transform: translate(50%,0);
}
.features-text .book{
  font-size: 8rem;
  font-weight: 330;
  color:#FCCE18
}
.features-text h4{
  font-size: 5rem;
  font-weight: 450;
  color:#FCCE18
}
.features-text p{
  font-size: 1.6rem;
  font-style: oblique;
  color:rgb(118, 118, 118)

}
.features-text .bottom-text{
  font-size: 1.6rem;
  margin-left: 95px;
  padding-top: 10px;
}