.features-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    background-color: #f4f5f7;
    padding: 20px;
  }
  
  .feature {
    text-align: center;
    flex: 1; /* Allow each feature to grow and shrink equally */
    margin: 0 10px; /* Add some margin between features */
    max-width: 300px; /* Optional: limit the maximum width */
  }
  
  .feature-icon {
    font-size: 40px;
    color: #FFC300;;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #000;
  }
  
  p {
    color: #555;
    text-align: center; /* Center the text */
  }
  