.features-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    background-color: #ffffff;
    padding: 20px;
    height: 30vh;
  }
  
  .feature {
    text-align: center;
    flex: 1; /* Allow each feature to grow and shrink equally */
    margin: 0 10px; /* Add some margin between features */
    max-width: 300px; /* Optional: limit the maximum width */
  }
  
  .feature-icon {
    font-size: 60px;
    color: #FFC300;;
    margin-bottom: 5px;
  }
  
  h4 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 450;
  }
  
  p {
    color: #555;
    text-align: center; /* Center the text */
  }
  