/* Header.css */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left .logo img {
    height: 50px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-right:10px ;
    gap:40px;
  }
  
  /* .nav-list li {
    margin-right: 20px;
  } */
  
  .nav-link {
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    /* padding: 5px 10px; */
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #FFC206;
  }
  
  .login-div {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; /* Change to column to stack the icon and text */
  }
  
  .login-cnt {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack the icon and text vertically */
    margin-right: 10px;
  }
  
  .login-link {
    display: flex;
    position: absolute;
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center;
    font-size: 2rem;
    transform: translate(-10%,-55%);
    /* margin-bottom: 5px; */
    /* margin-top: 20px; */
    color: #FFC206;
    text-decoration: none;
  }
  
  .login-text {
    position: absolute;
    width:50px;
    display: inline-block;
   transform: translate(5%,65%);
    font-size: 1rem;
    color: rgb(108, 108, 108);
    cursor: pointer;
 
   
  }
  .userlogged{
    display: flex;
    position: absolute;
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center;
    font-size: 1.2rem;
    transform: translate(-10%,-55%);
    /* margin-bottom: 5px; */
    /* margin-top: 20px; */
    color: #FFC206;
    text-decoration: none;
  }
  .userlogged img{
    height: 40px;
    width:40px;
    border-radius: 50%;
    object-fit: cover;
  }
  